/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/

.content {
    &2,
    &3 {
        padding: 90px 0;
        @include breakpoint(sp) {
            padding: calc(120px/2) 0;
        }
    }
    &2 {
        &--color2 {
            background-color: $color2;
        }
    }
    &3 {
        &--color3 {
            background-color: $color3;
        }
    }
}

// section1
.c-split {
    display: flex;
    @include breakpoint(sp) {
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 0 !important;
    }
    &-part {
        flex: 1 1 100%;
        max-width: 100%;
        @include breakpoint(sp) {
            padding: 30px 50px;
        }
        &:nth-child(1) {
            background: url(../img/img-01.jpg) top center/cover no-repeat;
        }
        &:nth-child(2) {
            background: url(../img/img-02.jpg) top center/cover no-repeat;
        }
        &__wrapper {
            background-color: rgba($color: $color1, $alpha: .8);
            margin: 90px auto;
            padding: 30px 0 30px 60px;
            position: relative;
            width: 520px;
            @include breakpoint(sp) {
                text-align: center;
                padding: calc(60px/2) calc(40px/2) calc(60px/2);
                margin: calc(60px/2) auto;
                width: 100%;
                .c-label {
                    display: none;
                }
            }
            .c-title {
                margin-right: 140px;
                @include breakpoint(sp) {
                    margin-right: 0;
                }
            }
        }
    }
    &__content {
        @include breakpoint(sp) {
            width: 100% !important;
        }
    }
}

// section3
.c-article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include breakpoint(sp) {
        flex-flow: column nowrap;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        align-items: center;
        @include breakpoint(sp) {
            margin-right: 0;
            margin: calc(40px/2) 0;
            width: 100%;
            align-items: initial;
        }
    }
    &__item {
        background-color: $color1;
        border: 1px solid $color4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 25px;
        flex: 0 0 100%;
        max-width: 100%;
        min-height: 80px;
        position: relative;
        overflow: hidden;
    }
    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__content {
        @include rem(13px);
        line-height: 2.0rem;
        margin-left: 90px;
        padding: 0 5px;
    }
}

.c-meta-date {
    color: $titleColor;
    line-height: 2.6rem;
}

// card
.c-card {
    display: flex;
    justify-content: flex-start;
    @include breakpoint(sp) {
        flex-direction: column;
        flex-wrap: wrap
    }
    &__item {
        flex: 0 0 300px;
        max-width: 300px;
        padding: 30px 15px;
        margin-right: 20px;
        @include breakpoint(sp) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
        }
        &:last-child {
            margin-right: 0;
            @include breakpoint(sp) {
                margin-bottom: 0;
            }
        }
        &--border {
            border: 1px solid $color6;
        }
    }
}