@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.pg-front-page .c-header {
  background-image: url("../img/banner-01.jpg");
  height: 100vh;
  border: 20px solid #fff;
}

@media only screen and (max-width: 767px) {
  .pg-front-page .c-header {
    border: calc(20px/2) solid #fff;
  }
}

.pg-front-page .c-header__logo {
  margin-top: 260px;
}

@media only screen and (max-width: 767px) {
  .pg-front-page .c-header__logo {
    margin: calc(260px/2) auto 0;
    width: calc(220px/2);
    display: block;
    text-align: center;
  }
}

.pg-front-page .c-heading {
  text-align: center;
}

.c-header {
  background-image: url("../img/banner-02.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 518px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-header {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  body:not(.pg-front-page) .c-header {
    height: 363px;
  }
}

@media only screen and (max-width: 767px) {
  body:not(.pg-front-page) .c-header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0 !important;
    width: calc(220px/2);
  }
}

/* Main menu
------------------------------------------------------------*/
.navbar__inner {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .navbar__inner {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #fff;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.navbar__inner .c-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .navbar__inner .c-icon {
    display: block;
  }
}

.c-gnav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 767px) {
  .c-gnav {
    display: block;
  }
}

.c-gnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .c-gnav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 52px;
  }
}

.c-gnav ul > li {
  margin: 80px 10px 0;
}

@media only screen and (max-width: 767px) {
  .c-gnav ul > li {
    margin: 0;
    padding: 15px 0;
  }
}

.c-gnav ul > li > a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  display: block;
  letter-spacing: 0.12em;
}

@media only screen and (max-width: 767px) {
  .c-gnav ul > li > a {
    color: #642200;
    display: block;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.5;
    letter-spacing: 0.06em;
  }
}

.c-gnav__button {
  background: transparent;
  border: 0 solid transparent;
  height: calc(45px/2);
  width: calc(60px/2);
  padding: 0;
  position: absolute;
  top: calc(40px/2);
  right: calc(40px/2);
  z-index: 1;
}

.c-gnav__button span {
  background: #642200;
  display: block;
  margin: calc(15px/2) 0 0;
  width: 100%;
  height: calc(4px/2);
}

.c-gnav__button span:first-child {
  margin-top: 0;
}

.c-gnav__button span:nth-child(1) {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition-duration: 75ms;
          transition-duration: 75ms;
}

.c-gnav__button span:nth-child(1) {
  -webkit-transition: top 75ms ease .12s, opacity 75ms ease;
  transition: top 75ms ease .12s, opacity 75ms ease;
}

.c-gnav__button span:nth-child(2) {
  -webkit-transition: bottom 75ms ease 0.12s, -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

@media only screen and (max-width: 767px) {
  .navbar.is-open .navbar__inner {
    width: 100%;
  }
  .navbar.is-open .navbar__inner ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar.is-open .navbar__inner ul li {
    padding: 10px 0;
  }
  .navbar.is-open .navbar__inner a {
    cursor: pointer;
    -webkit-filter: invert(40%) grayscale(100%) brightness(12%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(12%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  }
  .navbar.is-open .c-icon {
    margin-top: 15px;
  }
  .navbar.is-open .c-icon > * {
    padding: 0 8px 0;
  }
  .navbar.is-open .c-icon > *:first-child {
    margin-left: 0;
  }
  .navbar.is-open .c-gnav__button {
    position: fixed;
  }
  .navbar.is-open .c-gnav__button span {
    position: absolute;
  }
  .navbar.is-open .c-gnav__button span:nth-child(1) {
    -webkit-transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }
  .navbar.is-open .c-gnav__button span:nth-child(2) {
    top: 0;
    -webkit-transition: top 75ms ease, opacity 75ms ease;
    transition: top 75ms ease, opacity 75ms ease;
    opacity: 0;
  }
  .navbar.is-open .c-gnav__button span:nth-child(3) {
    bottom: 10px;
    -webkit-transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #fff;
  padding: 70px 0 90px;
  position: relative;
  text-align: center;
  height: 535px;
}

@media only screen and (max-width: 767px) {
  .c-footer {
    height: auto;
    font-size: 1rem;
    line-height: 2;
    padding: 50px 0 60px;
  }
}

@media only screen and (max-width: 767px) {
  .c-footer__logo {
    display: block;
    width: calc(120px/2);
    margin: 0 auto;
  }
}

.c-footer__infomation {
  margin-top: 30px;
  padding: 40px 0;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-footer__infomation {
    margin-top: 22px;
    padding: 25px 0;
  }
}

.c-footer__infomation:after, .c-footer__infomation:before {
  content: '';
  border-bottom: 1px solid #fff;
  display: table;
  position: absolute;
  width: 32%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.c-footer__infomation:before {
  top: 7px;
}

.c-footer__infomation:after {
  bottom: 7px;
}

.c-copyright {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* layout
------------------------------------------------------------*/
body {
  color: #000;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.4rem;
  line-height: 3rem;
  letter-spacing: 0.1em;
  min-width: 1000px;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
    font-size: 1.2rem;
    line-height: 2;
  }
}

h1,
h2,
h3,
h4,
h5,
h5 {
  color: #642200;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  font-weight: 500;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
    line-height: 2;
  }
}

section,
article,
header,
footer,
main {
  position: relative;
}

.l-container {
  width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .l-container {
    max-width: 100%;
    padding: 0 40px;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn {
  display: block;
  padding: 5px 10px;
  text-align: center;
  width: 220px;
  -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  border-width: 2px;
  border-style: solid;
}

@media only screen and (max-width: 767px) {
  .c-btn {
    font-size: 1.5rem;
    line-height: 1;
    padding: calc(20px/2) 0;
    width: 100%;
  }
}

.c-btn--primary {
  background-color: #642200;
  border-color: transparent;
  color: #fff;
}

.c-btn--primary:hover {
  background: transparent;
  border-color: #642200;
  color: #642200;
}

.c-btn--outline {
  border-color: #642200;
  color: #642200;
}

.c-btn--outline:hover {
  background: #642200;
  border-color: transparent;
  color: #fff;
}

body:not(.pg-front-page) .c-btn {
  margin-top: 45px;
}

body:not(.pg-front-page) .c-btn--align-center {
  margin: 45px auto 0;
}

@media only screen and (max-width: 767px) {
  body:not(.pg-front-page) .c-btn--align-center {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 767px) {
  body:not(.pg-front-page) .c-btn {
    margin-top: 25px;
    width: 100%;
    max-width: 100%;
  }
}

/*------------------------------------------------------------
label
------------------------------------------------------------*/
.c-label {
  position: absolute;
  top: -15px;
  right: 30px;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
.c-title {
  color: #642200;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  letter-spacing: 0.1em;
}

.c-title h3 {
  font-size: 3.6rem;
  line-height: 4.5rem;
}

@media only screen and (max-width: 767px) {
  .c-title h3 {
    font-size: 2rem;
    line-height: 1.7;
  }
}

.c-heading,
.c-heading1 {
  position: relative;
  color: #642200;
}

@media only screen and (max-width: 767px) {
  .c-heading,
  .c-heading1 {
    text-align: center;
    width: 100%;
    line-height: 2;
  }
}

.c-heading h1,
.c-heading1 h1 {
  font-size: 3.6rem;
  letter-spacing: 0.4em;
}

@media only screen and (max-width: 767px) {
  .c-heading h1,
  .c-heading1 h1 {
    font-size: 1.8rem;
    letter-spacing: 0.2em;
  }
}

.c-heading h2,
.c-heading1 h2 {
  font-size: 3.6rem;
}

@media only screen and (max-width: 767px) {
  .c-heading h2,
  .c-heading1 h2 {
    font-size: 2rem;
  }
}

.c-heading span,
.c-heading1 span {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

@media only screen and (max-width: 767px) {
  .c-heading span,
  .c-heading1 span {
    font-size: 1.1rem;
  }
}

.c-heading1 {
  text-align: center;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .c-heading1 {
    margin-bottom: 15px !important;
  }
}

.c-title {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.c-card__title {
  border-bottom-width: 1px;
  border-style: dotted;
  border-color: #ccc;
  padding: 10px 0 15px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
  .c-card__title {
    margin-bottom: 12px;
  }
}

.c-heading h1 {
  color: #fff;
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .c-heading h1 {
    width: 332px;
    margin: 60px auto 20px;
  }
}

.c-heading span {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .content1 .c-title span:nth-child(1) {
    width: 100%;
    max-width: 163px;
  }
  .content1 .c-title span:nth-child(2) {
    width: 100%;
    max-width: 242px;
  }
}

.content2 {
  *zoom: 1;
}

.content2:after {
  display: block;
  content: "";
  clear: both;
}

.content2 .c-heading,
.content2 .content2__body {
  float: left;
}

.content2 .content2__body {
  width: 880px;
  padding-left: 45px;
  padding-top: 15px;
}

@media only screen and (max-width: 767px) {
  .content2 .content2__body {
    width: 100%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .content2 .c-heading1 h2 {
    width: 100%;
    max-width: 90px;
  }
}

.content2 .c-heading {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .content2 .c-heading {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-align: center;
  }
}

.content2 .c-heading h2 {
  line-height: 4.5rem;
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 767px) {
  .content2 .c-heading h2 {
    letter-spacing: 0.1em;
  }
}

.content2 .c-heading span {
  color: #642200;
}

@media only screen and (max-width: 767px) {
  .content2 .c-heading span {
    display: inline-block;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: relative;
    top: -20px;
    width: 8px;
  }
}

.content3 .c-title {
  position: relative;
  letter-spacing: 0em;
  border-bottom: solid 1px #642200;
  display: inline;
  padding-bottom: 3px;
}

@media only screen and (max-width: 767px) {
  .content3 .c-title {
    width: auto;
    margin: 0 auto;
  }
}

.content3 .c-btn {
  margin: 50px auto 0;
}

@media only screen and (max-width: 767px) {
  .content3 .c-btn {
    margin: 25px auto 0;
  }
}

body:not(.pg-front-page) .c-heading {
  padding: 90px 0 47px;
  text-align: center;
  line-height: 5.4rem;
}

@media only screen and (max-width: 767px) {
  body:not(.pg-front-page) .c-heading {
    font-size: 2rem;
    line-height: 3.63636;
    padding: 60px 0 45px;
  }
}

body:not(.pg-front-page) .c-heading span {
  color: #642200;
  margin-top: 10px;
  display: block;
}

@media only screen and (max-width: 767px) {
  body:not(.pg-front-page) .c-heading span {
    font-size: 1.1rem;
  }
}

body:not(.pg-front-page) .c-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
  body:not(.pg-front-page) .c-title {
    font-size: 1.5rem;
    line-height: 2;
  }
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-icon > * {
  display: inline-block;
  position: relative;
  padding: 15px 12px 0 0;
  margin: 8px 0 30px;
}

.c-icon span {
  display: inline-block;
  position: absolute;
  top: -30px;
  left: 0;
}

.c-footer .c-icon span,
.c-header .c-icon span {
  top: 0;
}

/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .c-image {
    margin: 0 auto 30px auto;
    width: 300px;
    max-width: 100%;
  }
}

.c-image--right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 50px;
}

@media only screen and (max-width: 767px) {
  .c-image--right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.c-image--left {
  margin-right: 50px;
}

@media only screen and (max-width: 767px) {
  .c-image--right, .c-image--left {
    margin: 0 auto 30px auto;
  }
}

/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  body:not(.pg-front-page) .section2 {
    padding-bottom: 60px !important;
  }
}

body:not(.pg-front-page) .section2 p,
body:not(.pg-front-page) .section2 .c-title {
  margin: 0 80px 15px 80px;
}

@media only screen and (max-width: 767px) {
  body:not(.pg-front-page) .section2 p,
  body:not(.pg-front-page) .section2 .c-title {
    margin: 0 0 12px;
  }
}

@media only screen and (max-width: 767px) {
  body:not(.pg-front-page) .section3 {
    padding-bottom: 60px !important;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.content2, .content3 {
  padding: 90px 0;
}

@media only screen and (max-width: 767px) {
  .content2, .content3 {
    padding: calc(120px/2) 0;
  }
}

.content2--color2 {
  background-color: #fff3e1;
}

.content3--color3 {
  background-color: #ff9c46;
}

.c-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .c-split {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0 !important;
  }
}

.c-split-part {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .c-split-part {
    padding: 30px 50px;
  }
}

.c-split-part:nth-child(1) {
  background: url(../img/img-01.jpg) top center/cover no-repeat;
}

.c-split-part:nth-child(2) {
  background: url(../img/img-02.jpg) top center/cover no-repeat;
}

.c-split-part__wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 90px auto;
  padding: 30px 0 30px 60px;
  position: relative;
  width: 520px;
}

@media only screen and (max-width: 767px) {
  .c-split-part__wrapper {
    text-align: center;
    padding: calc(60px/2) calc(40px/2) calc(60px/2);
    margin: calc(60px/2) auto;
    width: 100%;
  }
  .c-split-part__wrapper .c-label {
    display: none;
  }
}

.c-split-part__wrapper .c-title {
  margin-right: 140px;
}

@media only screen and (max-width: 767px) {
  .c-split-part__wrapper .c-title {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .c-split__content {
    width: 100% !important;
  }
}

.c-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .c-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.c-article__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .c-article__inner {
    margin-right: 0;
    margin: calc(40px/2) 0;
    width: 100%;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

.c-article__item {
  background-color: #fff;
  border: 1px solid #b3b3b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  min-height: 80px;
  position: relative;
  overflow: hidden;
}

.c-article__thumb {
  position: absolute;
  top: 0;
  left: 0;
}

.c-article__content {
  font-size: 1.3rem;
  line-height: 2.0rem;
  margin-left: 90px;
  padding: 0 5px;
}

.c-meta-date {
  color: #642200;
  line-height: 2.6rem;
}

.c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
  .c-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-card__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  max-width: 300px;
  padding: 30px 15px;
  margin-right: 20px;
}

@media only screen and (max-width: 767px) {
  .c-card__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.c-card__item:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 767px) {
  .c-card__item:last-child {
    margin-bottom: 0;
  }
}

.c-card__item--border {
  border: 1px solid #ccc;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.u-w650 {
  width: 650px;
}

.u-mt15 {
  margin-top: 15px;
}

.u-mt30 {
  margin-top: 30px;
}

.u-mt90 {
  margin-top: 90px;
}

.u-mt120 {
  margin-top: 120px;
}

.u-mb30 {
  margin-bottom: 30px;
}

.u-mb40 {
  margin-bottom: 40px;
}

.u-mb60 {
  margin-bottom: 60px;
}

.u-pt20 {
  padding-top: 20px;
}

.u-pt70 {
  padding-top: 70px;
}

.u-pt90 {
  padding-top: 90px;
}

.u-pb20 {
  padding-bottom: 20px;
}

.u-pb70 {
  padding-bottom: 70px;
}

.u-pb90 {
  padding-bottom: 90px;
}

.u-light-theme {
  background-color: #fafafa;
}

.u-img--left, .u-img--right, .u-img--center {
  margin-bottom: 58px !important;
}

.u-img--left {
  float: left;
  margin-right: 30px;
}

.u-img--right {
  float: right;
  margin-left: 30px;
}

.u-img--center {
  display: block;
  margin: 0 auto;
}

.u-underline {
  border-bottom-width: 1px;
  border-style: dotted;
}

.u-underline--red {
  border-bottom-width: 1px;
  border-style: dotted;
  border-color: #642200;
}

.u-underline--base {
  border-bottom-width: 1px;
  border-style: dotted;
  border-color: #b3b3b3;
}

.u-border {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}

.u-border--color-grey {
  border-color: #ccc;
}

.u-border--bottom {
  border-bottom-width: 1px;
  border-style: solid;
}

.u-text--center {
  text-align: center;
}
