//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// breakpoint
//============================================
@mixin breakpoint($point) {
    @if $point==tablets {
        @media only screen and (max-width: 1024) {
            @content ;
        }
    }
    @else if $point==sp {
        @media only screen and (max-width: 767px) {
            @content ;
        }
    }
}

//============================================
// line-height
//============================================
@mixin line-height($line-height, $font-size) {
    line-height: $line-height / $font-size;
}

//============================================
// px to rem
//============================================
@mixin rem($size) {
    $remSize: $size / 10px;
    font-size: $remSize * 1rem;
}

//============================================
// letter-spacing
//============================================
@mixin letter-spacing($unit) {
    letter-spacing: ($unit / 1000) * 1em;
}