///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}
//------------------------------------------------------------
// margin
//------------------------------------------------------------
.u {
    //------------------------------------------------------------
    // width
    //------------------------------------------------------------
    &-w {
        &650 {
            width: 650px;
        }
    }
    //------------------------------------------------------------
    // margin top
    //------------------------------------------------------------
    &-mt {
        &15 {
            margin-top: 15px;
        }
        &30 {
            margin-top: 30px;
        }
        &90 {
            margin-top: 90px;
        }
        &120 {
            margin-top: 120px;
        }
    }
    //------------------------------------------------------------
    // margin bottom
    //------------------------------------------------------------
    &-mb {
        &30 {
            margin-bottom: 30px;
        }
        &40 {
            margin-bottom: 40px;
        }
        &60 {
            margin-bottom: 60px;
        }
    }
    //------------------------------------------------------------
    // padding top
    //------------------------------------------------------------
    &-pt {
        &20 {
            padding-top: 20px;
        }
        &70 {
            padding-top: 70px;
        }
        &90 {
            padding-top: 90px;
        }
    }
    //------------------------------------------------------------
    // padding bottom
    //------------------------------------------------------------
    &-pb {
        &20 {
            padding-bottom: 20px;
        }
        &70 {
            padding-bottom: 70px;
        }
        &90 {
            padding-bottom: 90px;
        }
    }
    &-light-theme {
        background-color: $color5;
    }
    //------------------------------------------------------------
    // align img
    //------------------------------------------------------------
    &-img {
        &--left,
        &--right,
        &--center {
            margin-bottom: 58px !important;
        }
        &--left {
            float: left;
            margin-right: 30px;
        }
        &--right {
            float: right;
            margin-left: 30px;
        }
        &--center {
            display: block;
            margin: 0 auto;
        }
    }
    //------------------------------------------------------------
    // border
    //------------------------------------------------------------
    &-underline {
        border-bottom-width: 1px;
        border-style: dotted;
        &--red {
            border-bottom-width: 1px;
            border-style: dotted;
            border-color: $titleColor;
        }
        &--base {
            border-bottom-width: 1px;
            border-style: dotted;
            border-color: $color4;
        }
    }
    &-border {
        border-width: 1px;
        border-style: solid;
        border-color: $color6;
        // Border Color
        &--color-grey {
            border-color: #ccc;
        }
        // border position
        &--bottom {
            border-bottom-width: 1px;
            border-style: solid;
        }
    }
    //------------------------------------------------------------
    // text align
    //------------------------------------------------------------
    &-text {
        &--center {
            text-align: center;
        }
    }
}

//------------------------------------------------------------
// color
//------------------------------------------------------------