//baseWidth
$baseWidth:1000px;
// baseFontFamily
$mainFonts: "游ゴシック",
YuGothic,
"ヒラギノ角ゴ Pro",
"Hiragino Kaku Gothic Pro",
"メイリオ",
"Meiryo",
sans-serif;
$titleFonts: "游明朝",
YuMincho,
"ヒラギノ明朝 ProN W3",
"Hiragino Mincho ProN",
"HG明朝E",
"ＭＳ Ｐ明朝",
serif;
// baseFontSize
$baseFont: 1.4rem;
// baseCharcterInfo
$letter-spacing: 0.1;
//color common
$baseColor: #000;
$titleColor: #642200;
$color1: #fff;
$color2: #fff3e1;
$color3: #ff9c46;
$color4: #b3b3b3;
$color5: #fafafa;
$color6: #ccc;
// path for img folder
$rootURl: '../';
$imgURL: 'img/';