/*------------------------------------------------------------
footer
------------------------------------------------------------*/

.c-footer {
    background-image: url($rootURl + $imgURL + 'footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: $color1;
    padding: 70px 0 90px;
    position: relative;
    text-align: center;
    height: 535px;
    @include breakpoint(sp) {
        height: auto;
        @include rem(20px/2);
        @include line-height(40/2, 20/2);
        padding: 50px 0 60px;
    }
    &__logo {
        @include breakpoint(sp) {
            display: block;
            width: calc(120px/2);
            margin: 0 auto;
        }
    }
    &__infomation {
        margin-top: 30px;
        padding: 40px 0;
        position: relative;
        @include breakpoint(sp) {
            margin-top: 22px;
            padding: 25px 0;
        }
        &:after,
        &:before {
            content: '';
            border-bottom: 1px solid #fff;
            display: table;
            position: absolute;
            width: 32%;
            left: 50%;
            transform: translateX(-50%);
        }
        &:before {
            top: 7px;
        }
        &:after {
            bottom: 7px;
        }
    }
}

.c-copyright {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}