/* Header
------------------------------------------------------------*/

.pg-front-page {
    .c-header {
        background-image: url($rootURl + $imgURL + 'banner-01.jpg');
        height: 100vh;
        border: 20px solid $color1;
        @include breakpoint(sp) {
            border: calc(20px/2) solid $color1;
        }
        &__logo {
            margin-top: 260px;
            @include breakpoint(sp) {
                margin: calc(260px/2) auto 0;
                width: calc(220px/2);
                display: block;
                text-align: center;
            }
        }
    }
    .c-heading {
        text-align: center;
    }
}

.c-header {
    background-image: url($rootURl + $imgURL + 'banner-02.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: $color1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    height: 518px;
    position: relative;
    @include breakpoint(sp) {
        display: block;
    }
}

body:not(.pg-front-page) {
    .c-header {
        @include breakpoint(sp) {
            height: 363px;
        }
        &__logo {
            @include breakpoint(sp) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0 !important;
                width: calc(220px/2);
            }
        }
    }
}


/* Main menu
------------------------------------------------------------*/

.navbar__inner {
    text-align: center;
    @include breakpoint(sp) {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background: $color1;
        overflow-x: hidden;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .c-icon {
        display: inline-flex;
        text-align: center;
        @include breakpoint(sp) {
            display: block;
        }
    }
}

.c-gnav {
    display: inline-flex;
    justify-content: center;
    @include breakpoint(sp) {
        display: block;
    }
    ul {
        display: flex;
        @include breakpoint(sp) {
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 52px;
        }
        >li {
            margin: 80px 10px 0;
            @include breakpoint(sp) {
                margin: 0;
                padding: 15px 0;
            }
            >a {
                color: $color1;
                text-transform: uppercase;
                letter-spacing: 0.12em;
                display: block;
                @include letter-spacing(120);
                @include breakpoint(sp) {
                    color: $titleColor;
                    display: block;
                    text-align: center;
                    @include rem(36px/2);
                    @include line-height(90/2, 36/2);
                    @include letter-spacing(120/2);
                }
            }
        }
    }
    &__button {
        background: transparent;
        border: 0 solid transparent;
        height: calc(45px/2);
        width: calc(60px/2);
        padding: 0;
        position: absolute;
        top: calc(40px/2);
        right: calc(40px/2);
        z-index: 1;
        span {
            background: $titleColor;
            display: block;
            margin: calc(15px/2) 0 0;
            width: 100%;
            height: calc(4px/2);
            &:first-child {
                margin-top: 0;
            }
            &:nth-child(1) {
                transition-timing-function: cubic-bezier(.55, .055, .675, .19);
                transition-duration: 75ms;
            }
            &:nth-child(1) {
                transition: top 75ms ease .12s, opacity 75ms ease;
            }
            &:nth-child(2) {
                transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19);
            }
        }
    }
}

.navbar.is-open {
    @include breakpoint(sp) {
        .navbar__inner {
            width: 100%;
            ul {
                flex-direction: column;
                li {
                    padding: 10px 0;
                }
            }
            a {
                cursor: pointer;
                -webkit-filter: invert(40%) grayscale(100%) brightness(12%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
                filter: grayscale(100%) brightness(12%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
            }
        }
        .c-icon {
            margin-top: 15px;
            >* {
                padding: 0 8px 0;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        .c-gnav__button {
            position: fixed;
            span {
                position: absolute;
                &:nth-child(1) {
                    transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
                    transform: rotate(45deg);
                    top: 10px;
                }
                &:nth-child(2) {
                    top: 0;
                    transition: top 75ms ease, opacity 75ms ease;
                    opacity: 0;
                }
                &:nth-child(3) {
                    bottom: 10px;
                    transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}