*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}


/* layout
------------------------------------------------------------*/

body {
    color: $baseColor;
    font-family: $mainFonts;
    font-size: $baseFont;
    line-height: 3rem;
    @include letter-spacing(100);
    min-width: $baseWidth;
    @include breakpoint(sp) {
        min-width: 320px;
        @include rem(24px/2);
        @include line-height(48/2, 24/2)
    }
}

h1,
h2,
h3,
h4,
h5,
h5 {
    color: $titleColor;
    font-family: $titleFonts;
    font-weight: 500;
    @include line-height(54, 36);
    @include breakpoint(sp) {
        @include line-height(60, 30);
    }
}

section,
article,
header,
footer,
main {
    position: relative;
}

//-------------------------------------------------------
.l-container {
    width: $baseWidth;
    margin: 0 auto;
    @include breakpoint(sp) {
        max-width: 100%;
        padding: 0 40px;
    }
}

//-------------------------------------------------------