/*------------------------------------------------------------
btn
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-btn {
    display: block;
    padding: 5px 10px;
    text-align: center;
    width: 220px;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    border-width: 2px;
    border-style: solid;
    @include breakpoint(sp) {
        @include rem(30px/2);
        @include line-height(30/2, 30/2);
        padding: calc(20px/2) 0;
        width: 100%;
    }
    &--primary {
        background-color: $titleColor;
        border-color: transparent;
        color: $color1;
        &:hover {
            background: transparent;
            border-color: $titleColor;
            color: $titleColor;
        }
    }
    &--outline {
        border-color: $titleColor;
        color: $titleColor;
        &:hover {
            background: $titleColor;
            border-color: transparent;
            color: $color1;
        }
    }
}

body:not(.pg-front-page) {
    .c-btn {
        margin-top: 45px;
        &--align-center {
            margin: 45px auto 0;
            @include breakpoint(sp) {
                margin-top: 25px;
            }
        }
        @include breakpoint(sp) {
            margin-top: 25px;
            width: 100%;
            max-width: 100%;
        }
    }
}