/*------------------------------------------------------------
label
------------------------------------------------------------*/

.c-label {
    position: absolute;
    top: -15px;
    right: 30px;
}


/*------------------------------------------------------------
title
------------------------------------------------------------*/

.c-title {
    color: $titleColor;
    font-family: $titleFonts;
    @include letter-spacing(100);
    h3 {
        @include rem(36px);
        line-height: 4.5rem;
        @include breakpoint(sp) {
            @include rem(40px/2);
            @include line-height(68/2, 40/2);
        }
    }
}

.c-heading,
.c-heading1 {
    position: relative;
    color: $titleColor;
    @include breakpoint(sp) {
        text-align: center;
        width: 100%;
        @include line-height(80/2, 40/2);
    }
    h1 {
        @include rem(36px);
        @include letter-spacing(400);
        @include breakpoint(sp) {
            @include rem(36px/2);
            @include letter-spacing(400/2);
        }
    }
    h2 {
        @include rem(36px);
        @include breakpoint(sp) {
            @include rem(40px/2);
        }
    }
    span {
        font-family: $mainFonts;
        text-transform: uppercase;
        @include letter-spacing(200);
        @include breakpoint(sp) {
            @include rem(22px/2);
        }
    }
}

.c-heading1 {
    text-align: center;
    @include line-height(54, 36);
    @include breakpoint(sp) {
        margin-bottom: 15px !important;
    }
}

.c-title {
    font-family: $mainFonts;
}

.c-card__title {
    border-bottom-width: 1px;
    border-style: dotted;
    border-color: #ccc;
    padding: 10px 0 15px;
    margin-bottom: 15px;
    @include breakpoint(sp) {
        margin-bottom: 12px;
    }
}

// hero
.c-heading {
    h1 {
        color: #fff;
        margin-bottom: 40px;
        @include breakpoint(sp) {
            width: 332px;
            margin: 60px auto 20px;
        }
    }
    span {
        color: #fff;
    }
}

// section2
.content1 {
    .c-title {
        span {
            @include breakpoint(sp) {
                &:nth-child(1) {
                    width: 100%;
                    max-width: 163px;
                }
                &:nth-child(2) {
                    width: 100%;
                    max-width: 242px;
                }
            }
        }
    }
}

// section2
.content2 {
    @include clear;
    .c-heading,
    .content2__body {
        float: left;
    }
    .content2__body {
        width: 880px;
        padding-left: 45px;
        padding-top: 15px;
        @include breakpoint(sp) {
            width: 100%;
            padding-left: 0;
        }
    }
    .c-heading1 {
        h2 {
            @include breakpoint(sp) {
                width: 100%;
                max-width: 90px;
            }
        }
    }
    .c-heading {
        writing-mode: vertical-lr;
        text-align: left;
        @include breakpoint(sp) {
            writing-mode: horizontal-tb;
            text-align: center;
        }
        h2 {
            line-height: 4.5rem;
            letter-spacing: 0.1em;
            @include breakpoint(sp) {
                letter-spacing: 0.1em;
            }
        }
        span {
            color: $titleColor;
            @include breakpoint(sp) {
                display: inline-block;
                transform: rotate(-90deg);
                position: relative;
                top: -20px;
                width: 8px;
            }
        }
    }
}

// section 3
.content3 {
    .c {
        &-title {
            position: relative;
            @include letter-spacing(0);
            border-bottom: solid 1px $titleColor;
            display: inline;
            padding-bottom: 3px;
            @include breakpoint(sp) {
                width: auto;
                margin: 0 auto;
            }
        }
        &-btn {
            margin: 50px auto 0;
            @include breakpoint(sp) {
                margin: 25px auto 0;
            }
        }
    }
}

body:not(.pg-front-page) {
    .c {
        &-heading {
            padding: 90px 0 47px;
            text-align: center;
            line-height: 5.4rem;
            @include breakpoint(sp) {
                @include rem(40px/2);
                @include line-height(80/2, 22/2);
                padding: 60px 0 45px;
            }
            span {
                color: $titleColor;
                margin-top: 10px;
                display: block;
                @include breakpoint(sp) {
                    @include rem(22px/2);
                }
            }
        }
        &-title {
            @include rem(16px);
            font-weight: bold;
            margin-bottom: 15px;
            @include breakpoint(sp) {
                @include rem(30px/2);
                @include line-height(60/2, 30/2);
            }
        }
    }
}