/*------------------------------------------------------------
icon
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-icon {
    >* {
        display: inline-block;
        position: relative;
        padding: 15px 12px 0 0;
        margin: 8px 0 30px;
    }
    span {
        display: inline-block;
        position: absolute;
        top: -30px;
        left: 0;
    }
}

.c-footer,
.c-header {
    .c-icon span {
        top: 0;
    }
}