/*------------------------------------------------------------
img
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-image {
    @include breakpoint(sp) {
        margin: 0 auto 30px auto;
        width: 300px;
        max-width: 100%;
    }
    &--right {
        order: 1;
        margin-left: 50px;
        @include breakpoint(sp) {
            order: 0;
        }
    }
    &--left {
        margin-right: 50px;
    }
    &--right,
    &--left {
        @include breakpoint(sp) {
            margin: 0 auto 30px auto;
        }
    }
}