/*------------------------------------------------------------
other
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

body:not(.pg-front-page) {
    .section2 {
        @include breakpoint(sp) {
            padding-bottom: 60px !important;
        }
        p,
        .c-title {
            margin: 0 80px 15px 80px;
            @include breakpoint(sp) {
                margin: 0 0 12px;
            }
        }
    }
    .section3 {
        @include breakpoint(sp) {
            padding-bottom: 60px !important;
        }
    }
}